<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" as="style">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ " css/main.css" | absURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>

    {{ $css := resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>

<body class="flex flex-col min-h-screen">
    {{ partial "header.html" . }}
    <main class="flex-grow pt-20">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>

</html>